<h1>System Settings</h1>
<p>
<%= link_to 'Feature classes', feature_classes_path %>
</p>
<p>
<%= link_to 'Feature statuses', feature_statuses_path %>
</p>
<p>
<%= link_to 'Ticket types', ticket_types_path %>
</p>
