<h1>Data Provider: <%= owner.name %></h1>

<h2>Datasets</h2>

<% if owner.datasets.any? %>
  <ul>
    <% owner.datasets.each do |dataset| %>
      <li>
        <%= link_to dataset.name, owner_dataset_path(owner, dataset) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    No datasets yet.
  </p>
<% end %>

<%= link_to 'New dataset', new_owner_dataset_path(@owner) %>
