<h1><%= t('.editing_dataset', name: @dataset.name) %>
<span class="float-end">
  <%= view_link(t('.show_dataset'), owner_dataset_path(@owner, @dataset)) %>
</span>
</h1>

<%= render "form", dataset: @dataset, url: owner_dataset_path(@owner, @dataset) %>

<br>

<div>
  <%= link_to t('attributes.back_to_data_provider'), owner_path(@dataset.owner) %>
</div>


