<h1><%= @owner.name %>: New dataset</h1>

<%= render "form", dataset: @dataset, url: owner_datasets_path(@owner) %>

<br>

<div>
  <%= link_to "Back to data provider", owner_path(@dataset.owner_id) %>
</div>
