<h1><%= t('.new_dataset_for', name: @owner.name) %></h1>

<p><%= t('.minimal_validation') %></p>

<%= render "form", dataset: @dataset, url: owner_datasets_path(@owner) %>

<br>

<div>
  <%= link_to t('attributes.back_to_data_provider'), owner_path(@dataset.owner_id) %>
</div>

