<%= render @dataset %>

<div>
  <%= link_to "Edit this dataset", edit_dataset_path(@dataset) %> |
  <%= link_to "Back to data provider", owner_path(@dataset.owner) %>

  <%= button_to "Delete this dataset", @dataset, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
</div>
