<h1>Editing <%= @owner.name %> user</h1>

<%= render "form", user: @user, url: owner_user_path(@owner, @user)  %>

<br>

<div>
  <%= link_to "Show this user", [@owner, @user] %> |
  <%= link_to "Back to data provider", owner_path(@owner) %>
</div>
