<h1>Editing <%= @owner.name %> user</h1>

<%= render "form", user: @user, url: owner_user_path(@owner, @user)  %>

<br>

<div>
  <%= link_to "Back to data provider users", owner_users_path(@owner) %>
</div>
