<h1><%= t('.new_user_title', name: @owner.name) %></h1>

<p><%= t('.allow_manage_datasets', name: @owner.name) %></p>

<%= render "form", user: @user, url: owner_users_path(@owner) %>

<br>

<div>
  <%= link_to t('.back_to_data_provider_users'), owner_users_path(@owner) %>
</div>
