<h1>Editing accuracy class</h1>

<%= render "form", accuracy_class: @accuracy_class %>

<br>

<div>
  <%= link_to "Show this accuracy class", @accuracy_class %> |
  <%= link_to "Back to accuracy classes", accuracy_classes_path %>
</div>
